body {
  color: #585A5A;
  background-color: #FFFFFF;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  font-size: 18px;
}

h1 {
  color: #282A2B;
  font-size: 80px;
}

h2 {
  color: #72808C;
  font-size: 30px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3 {
  margin: 0;
  line-height: 1.5;
}

#container {
  background-color: #FFFFFF;
  width: 63%;
  margin-left: auto;
  margin-right: auto;
#  box-shadow: 0px 0px 30px #d7dde0;
}

#header {
  margin-top: 0px;
  text-align: left;
  padding: 70px 70px 0px 70px;
}

#content {
  padding: 70px;
}

#about {
  width: 100%;
}

#about .selected {
  font-weight: bold;
}

#demos {
  width: 60%;
}

#socials {
  padding: 0px 0px 0px 60px;
  clear: both;
}

.socials {
  margin: 0px 10px 0px 10px;
  padding: 0px 5px 0px 5px;
  width: max-content;
  outline: 2px solid #72808C;
  color: #72808C;
  font-size: 15px;
  float: left;
  font-weight: bold;
}
